@import'font.css';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}





.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #040D1F;
}
body,
html {
scroll-behavior: smooth;
}
img{
vertical-align: middle;

}
.header_film {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.header_text {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    width: 166px;
}

.nav_logo-text {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.nav_link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #FFFFFF;
    margin: 0 9px;
    padding: 0 6px;
    display: flex;
    flex-direction: column;
    transition: .5s;
}

.nav_link:hover {
    color: #ED8E00;
}

.nav_link::after {
    content: '';
    height: 2px;
    border-radius: 23px 10px 0px 0px;
    transition: .5s;
    margin: 0 -6px;
    margin-top: 40px;
}

.nav_link:hover::after {
    background: #ED8E00;

}

.nav_list {
    display: flex;
    margin-bottom: -40px;
}

.nav_content {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.nav {
    background: rgba(1, 3, 5, 0.8);
    backdrop-filter: blur(7.5px);
    position: sticky;
    top: 0;
    z-index: 9999;

}

.kong {
    width: 100%;
}

.main_bg {
    position: relative;
}

.kong_content {
    background: rgba(7, 15, 25, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.kong_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;

    color: #FFFFFF;
}

.kong_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #C8C8C8;
    max-width: 570px;
    margin: 30px 0 50px;
}

.section_link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    text-align: justify;
    color: #FFFFFF;
    padding: 17px 47px;
    display: inline-block;
    background: #040D1F;
    border-radius: 4px;
    transition: .3s;
}

.section_link:hover {
    background: #F18128;
    border-radius: 4px;
    color: #000000;
    box-shadow: 3px -5px 7px orange;
}

.kong_items {
    display: flex;
    gap: 30px;

}

.section_title {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #F18128;
    border-bottom: 2px solid #F18128;
    width: max-content;
    padding-bottom: 10px;
    margin-bottom: 55px;
}

.film {
    padding: 60px 0 77px;

}

.films-time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: #FFFFFF;
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid white;
    border-radius: 9px;
    padding: 7px 28px;
    margin: 12px 0 30px;
    width: 100px;
}

.films-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.films-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    width: 226.02px;
}

.film_card {
    position: relative;
    width: max-content;
    opacity: 0.8;
}

.film_items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    opacity: 0;
    padding: 54px 15px 0;
}

.film_card .film_items:hover {
    opacity: 1;
}

.film_block {
    display: flex;
    justify-content: space-between;
}

.widow_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #000000;
    margin: 51px 0 55px;
    max-width: 558px;
}

.widow {
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 51%, rgba(255, 255, 255, 0) 100.72%);
    padding: 42px 0 80px;
    position: relative;
}

.video {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}

.collections_title {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 15px;
}

.collections_card {
    position: relative;
    width: max-content;
    border-radius: 6px;
    transition: .5s;
    overflow: hidden;
}

.collections_card:hover {
    box-shadow: 0 0 20px red;
}

.collections_items {
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.span::before,
.span::after {
    content: '';
    width: 20px;
    height: 24px;
    background: #040D1F;
    border-radius: 2px;
    transition: 1s;
}

.span {
    display: flex;
    justify-content: space-between;
}

.collections_roll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px;

}

.collections_card:hover img {
    transform: scale(1.1);

}

.collections_card img {
    transition: .5s;
    height: 100%;
}

.collections_card:hover .span::before {
    transform: translateY(-310px) rotateY(360deg);
}

.collections_card:hover .span::after {
    transform: translateY(310px) rotateY(360deg);

}

.collections_block {
    display: flex;
    justify-content: space-between;
}

.collections {
    padding: 62px 0;

}

.series_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}

.series_card:nth-of-type(1) {
    grid-column: 1/5;
    grid-row: 1/3;
}

.series_card:nth-of-type(2) {
    grid-column: 1/3;
    grid-row: 3/5;
}

.series_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.series_card {
    position: relative;

}

.series_card-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 22px;


}

.series_card_titles {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;

    color: #FFFFFF;

}

.series_card_texts {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    color: #FFFFFF;
    margin: 27px 0 30px;
}

.series_card_title {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 20px;
}
.series{
    padding-bottom: 63px;
}
.wrapper{
    position: relative;
}
.rocketa{
    position: sticky;
    top: 90px;
left: 0;
z-index: 9999;
font-size: 50px;
display: inline-block;
transition: .5s;
transform: rotate(135deg);

}
.rocketa:hover{
    transform: rotate(-45deg);
}